@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply min-h-[800px] min-w-[375px] bg-slate-950 text-slate-200 font-Barlow selection:bg-slate-700/60 selection:backdrop-blur-lg;

  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent; 
}

.cliklicious {
  @apply cursor-pointer select-none;

  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent; 
}


.pre {@apply bg-red-400 bg-opacity-30  sm:bg-blue-400 sm:bg-opacity-30 md:bg-green-400  md:bg-opacity-30 lg:bg-cyan-400 lg:bg-opacity-30;}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to an element */
.animate-rotate {
  animation: rotate 300s linear infinite;
}
