@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply min-h-[800px] min-w-[375px] text-slate-200 font-Barlow
}


.pre {@apply bg-red-400 bg-opacity-30  sm:bg-blue-400 sm:bg-opacity-30 md:bg-green-400  md:bg-opacity-30 lg:bg-cyan-400 lg:bg-opacity-30;}
